body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid rgb(0, 255, 55);
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
* {
    box-sizing: border-box;

  }
  header{
    border: 1px solid red;
    
  }
  main{
    border: 1px solid red;
    margin: auto;
    
  }
  footer{
    border: 1px solid red;
  }
  html {
    scroll-behavior: smooth; 
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color:#2ab0b0;
    font-size: 3.2vh;
    transition: .3s;
  }
  /* .nav-link:hover { 
    background: gold;
  } */
  .nav-link a {
    color: #f7cf1d;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }